<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.gmall.product.mapper.BaseAttrInfoMapper">

<!--    List<BaseAttrInfo> attrInfoList(Long category1Id, Long category2Id, Long category3Id);-->

    <resultMap id="attrInfoListMap" type="BaseAttrInfo">
        <id column="id" property="id"/>
<!--        平台属性与属性值是一对多的关系-->
        <collection property="attrValueList" ofType="BaseAttrValue">
            <id column="vid" property="id"/>
        </collection>
    </resultMap>

    <select id="attrInfoList" resultMap="attrInfoListMap">
        select
            baf.id,
            baf.attr_name,
            baf.category_id,
            baf.category_level,
            bav.id vid,
            bav.value_name,
            bav.attr_id
        from
            base_attr_info baf
        INNER JOIN
            base_attr_value bav
        <where>
            <if test="category1Id != null and category1Id != 0">
                (baf.category_id = #{category1Id} AND baf.category_level = 1)
            </if>
            <if test="category2Id != null and category2Id != 0">
                or (baf.category_id = #{category2Id} AND baf.category_level = 2)
            </if>
            <if test="category3Id != null and category3Id != 0">
                or (baf.category_id = #{category3Id} AND baf.category_level = 3)
            </if>
        </where>
    </select>
</mapper>